.leaderboard-heading {
  display: grid;
  grid-template-columns: 2rem auto auto;
  grid-gap: 1.5rem;
}

.leaderboard-slot {
  display: grid;
  grid-template-columns: 2rem 3rem 28rem 1fr;
  grid-gap: 1.5rem;
}

.leaderboard-slot * {

}
