<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-compatible" content="ie-edge">
  <title>Challenges</title>
  <link rel="stylesheet" href="../style/main.css"/>
  <link rel="stylesheet" href="../style/challenges.css"/>
</head>

<body>

  <div class="header">
    <div class="container">
      <h1>NatureApp</h1>
      <input type="text" id="search-input" class="search" placeholder="Search" value="" onkeyup="checkKeySearch(event)" />
    </div>
  </div>


  <div class="container">
    <div id="challenges">
    </div>
  </div>

</body>

<script type="text/javascript" src="../scripts/main.js"></script>
<script type="text/javascript" src="../scripts/challenges.js"></script>
<script type="text/javascript" src="../scripts/challenges_main.js"></script>

</html>

