<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Nature App</title>
  <link rel="stylesheet" href="../style/main.css"/>
</head>

<body>

  <div class="header">
    <div class="container">
      <h1>NatureApp</h1>
      <input type="text" class="search" name="search" placeholder="Search" value="">
    </div>
  </div>

  <h1 id="page-title" class="page-title"></h1>

  <div class="container">

    <div id="follower-list" class="two-column-grid">

    </div>

  </div>


</body>

<script type="text/javascript" src="../scripts/main.js"></script>
<script type="text/javascript" src="../scripts/user_list_rendering.js"></script>
<script type="text/javascript" src="../scripts/followers.js"></script>

</html>
