<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>NatureApp | Leaderboard</title>
    <link rel="stylesheet" href="../style/main.css"/>
    <link rel="stylesheet" href="../style/leaderboard.css"/>
  </head>

  <body>

    <div class="header">
      <div class="container">
        <h1>NatureApp</h1>
        <input type="text" class="search" name="search" placeholder="Search" value="">
      </div>
    </div>

    <div class="container">
      <h1 class="center-text">Leaderboard</h1>

      <div class="invisible-box leaderboard-heading">
        <h2 class="right-text">#</h2>
        <h2>Photographer</h2>
        <h2 class="right-text">Points</h2>
      </div>

      <div id="leaderboard-container">

      </div>

    </div>

  </body>

<script type="text/javascript" src="../scripts/main.js"></script>
<script type="text/javascript" src="../scripts/leaderboard.js"></script>

</html>
